<div id="main">
  <div class="row">
    <div class="col s12">
      <div class="container center">

            <img class="img-404 " src="/img/undraw_Taken_re_yn20.svg" alt="Acceso denegado">
            <h2>Acceso denegado</h2>
     
      </div>
    </div>
  </div>
</div>