<div id="main">
  <div class="row">
    <div class="col s12">
      <div class="container center">

        <div class="container_404">
          <img class="img-404" src="/img/undraw_page_not_found_su7k.svg" alt="Error 404">
          <h2>Error 404</h2>
        </div>


      </div>
    </div>
  </div>
</div>