<div class="background">
    {{!-- <div id="particles-js"></div> --}}
    <div class="container-login center">        
        <div class="mitad illustration">
            <div class="img centered">
                <img class="" src="/img/chat_claro.png" alt="Fondito" />
            </div>
        </div>
        
        <div class="mitad login">
            <div class="centered">
                <form action="/login" method="POST">
                    <img class="avatar" src="/images/logo/logo_claro.png" alt="Avatar" />

                    {{!-- <h5><strong>BLUENET</strong></h5> --}}

                    <div class="input-field">
                        <i class="material-icons prefix pt-2">person_outline</i>
                        <input id="username" type="text" name="username" autocomplete="off" autofocus>
                        <label for="username" class="center-align">Username</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix pt-2">lock_outline</i>
                        <input id="password" type="password" name="password" autocomplete="off" autofocus>
                        <i id="hideShowPassWord" class="material-icons suffix hideShowPassWord">visibility_off</i>
                        <label for="password" class="center-align">Password</label>
                    </div>
                    <a href="#"></a>
                    <center><input type="submit" class="btn" value="Login" /></center>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>