<div id="main">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <div class="section">
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <h4 class="card-title" data-i18n="Árbol Bot">Árbol Bot</h4>
                                    <div class="row">
                                        <div class="col s12">
                                            <table id="tuTablaArbolBot" class="display">
                                                <thead style="color: #fff">
                                                    <tr class="custom-gradient_black">
                                                        <th data-i18n="Nombre Menú" style="width:10%;">Nombre Menú</th>
                                                        <th data-i18n="Opción" style="width:8%;">Opción</th>
                                                        <th data-i18n="Texto">Texto</th>
                                                        <th data-i18n="Acción">Acción</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each arbol}}
                                                    <tr
                                                        style="overflow: hidden; white-space: pre-line; word-break: break-word; min-width:200px; width:30%;">
                                                        <td>{{this.PKBTREE_NCODIGO}}</td>
                                                        <td>{{this.BTREE_OPTION_NUM}}</td>
                                                        <td>{{this.BTREE_TEXTO}}</td>
                                                        <td>
                                                            <a class="btn waves-effect waves-light color-oscuro"
                                                                id="editar"
                                                                href="/textoBot/actualizarTextoGuionBOT/{{this.EnCrypt}}"><i
                                                                    class='bx bx-edit-alt'></i></a>
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/arbolBot.js"></script>