<div id="main">
    <div class="row">
        <div class="col s12">
            <div class="container">

                <div class="row">
                    <div class="col s12">
                        <div id="input-fields" class="card card-tabs">
                            <div class="card-content">
                                <div class="card-title">
                                    <div class="row">
                                        <div class="col s12 m6 l10">
                                            <h4 class="card-title" data-i18n="Crear usuario">Crear usuario</h4>
                                        </div>
                                    </div>
                                </div>
                                <div id="view-input-fields">
                                    <div class="row">
                                        <div class="col s12">
                                            <form id="formCrearUsuario" class="row" action="/usuarios/crearUsuario" method="post">

                                                <div class="row">
                                                    {{! Nombre }}
                                                    <div class="input-field col s12 m6 l4">
                                                        <input type="text" name="usuario_nombre" id="usuario_nombre" required>
                                                        <label for="usuario_nombre"><span data-i18n="Nombre">Nombre</span><span class="red-text"> *</span></label>
                                                    </div>

                                                    {{! Documento }}
                                                    <div class="input-field col s12 m6 l4">
                                                        <input type="text" name="usuario_documento"
                                                            id="usuario_documento" required>
                                                        <label for="usuario_documento"><span data-i18n="Documento">Documento</span><span class="red-text"> *</span></label>
                                                    </div>

                                                    {{! Rol }}
                                                    <div class="input-field col s12 m6 l4">
                                                        <select class="select" name="usuario_rol" id="usuario_rol"
                                                            required>
                                                            <option value="" disabled selected>Select option
                                                            </option>
                                                           {{#if (isAdministrador user.Rol)}}
                                                                <option value="AGENTE">AGENTE</option>
                                                                <option value="SUPERVISOR">SUPERVISOR</option>
                                                                <option value="REPORTING">REPORTING</option>
                                                                <option value="ADMINISTRADOR">ADMINISTRADOR</option>
                                                            {{/if}}

                                                            {{#if (isSupervisor user.Rol)}}
                                                                <option value="AGENTE">AGENTE</option>
                                                                <option value="REPORTING">REPORTING</option>
                                                                <option value="SUPERVISOR">SUPERVISOR</option>
                                                            {{/if}}
                                                        </select>
                                                        <label for="usuario_rol"><span data-i18n="Rol">Rol</span><span class="red-text"> *</span></label>
                                                    </div>
                                                </div>

                                                <div class="row">

                                                    {{! Nombre usuario}}
                                                    <div class="input-field col s12 m6 l4">
                                                        <input type="text" name="usuario_nombreUsuario"
                                                            id="usuario_nombreUsuario" required>
                                                        <label for="usuario_nombreUsuario"><span data-i18n="Nombre de usuario">Nombre de usuario</span><span class="red-text"> *</span></label>
                                                    </div>

                                                    {{! Password }}
                                                    <div class="input-field col s12 m6 l4">
                                                        <input type="password" name="usuario_password" id="usuario_password" required>
                                                        <label for="usuario_password"><span data-i18n="Password">Password</span><span class="red-text"> *</span></label>
                                                    </div>

                                                    {{! Campaña }}
                                                    <div class="input-field col s12 m6 l4">
                                                        <select class="select" name="usuario_campana"
                                                            id="usuario_campana" required>
                                                            <option value="" disabled selected>Select option
                                                            </option>
                                                            <option value="WINSPORT">WINSPORT</option>
                                                        </select>
                                                        <label for="usuario_campana"><span data-i18n="Campana">Campana</span><span class="red-text"> *</span></label>
                                                    </div>
                                                    {{! Skill }}
                                                    {{!-- <div class="input-field col s12 m6 l4">
                                                        <select class="select" name="usuario_skill"
                                                            id="usuario_skill" required multiple>
                                                            <option value="L0">SUPERVISOR</option>
                                                            <option value="IB">INBOUND</option>
                                                        </select>
                                                        <label for="usuario_skill"><span data-i18n="Skill">Skill</span><span class="red-text"> *</span></label>
                                                    </div> --}}
                                                    {{! EMAIL }}
                                                    {{!--  <div class="input-field col s12 m6 l4">
                                                        <input type="email" name="usuario_emailUsuario"
                                                            id="usuario_emailUsuario" required>
                                                        <label for="usuario_emailUsuario"><span data-i18n="Email">Email</span><span class="red-text"> *</span></label>
                                                    </div> --}}

                                                     {{! Cantidad de chats }}
                                                    <div class="input-field col s12 m6 l4">
                                                        <select class="select" name="usuario_chats"
                                                            id="usuario_chats" required>
                                                            <option value="0"selected>0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                        </select>
                                                        <label for="usuario_chats"><span data-i18n="Cantidad de chats">Cantidad de chats</span><span class="red-text"> *</span></label>
                                                    </div>


                                                </div>

                                                <div class="row">
                                                    <div class="nput-field col s12">
                                                        <button id ="btnCrearUsuario" class="btn color-oscuro waves-effect waves-light right" type="submit"
                                                            name="action"> <span data-i18n="Crear usuario">Crear usuario</span> 
                                                            <i class="material-icons right">send</i>
                                                        </button>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="/js/crearUsuarios.js"></script>