<div id="main">
    <div class="row">
        <div class="content-wrapper-before custom-gradient_black"></div>
        <div class="col s12">
            <div class="container">
                <div class="section">

                    <!-- card stats start -->
                    <div id="card-stats" class="pt-0">

                        <div class="row">

                            <div class="col s12 m6 l4">
                                <div class="card animate fadeRight">
                                    <div id="tarjetapromedioAsaCola" class="card-content">
                                        <p class="card-stats-title strong"><i class="material-icons">history</i>
                                            <span data-i18n="ASA cola" id="labelAsaCola">ASA Cola</span>
                                        </p>
                                        <h4 class="card-stats-number" id="promedioAsaCola">00:00:00</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l4">
                                <div class="card animate fadeLeft">
                                    <div class="card-content" id="tarjetapromedioAsaCola60">
                                        <p class="card-stats-title strong"><i class="material-icons">history</i>
                                            <span data-i18n="ASA Cola 60 min" id="labelAsaCola60">ASA Cola 60 min</span>
                                        </p>
                                        <h4 class="card-stats-number" id="promedioAsaCola60">00:00:00</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l4">
                                <div class="card animate fadeLeft">
                                    <div class="card-content" id="tarjetapromedioAsaCola30">
                                        <p class="card-stats-title strong"><i class="material-icons">history</i>
                                            <span data-i18n="ASA Cola 30 min " id="labelAsaCola30">ASA Cola 30
                                                min</span>
                                        </p>
                                        <h4 class="card-stats-number" id="promedioAsaCola30">00:00:00</h4>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col s12 m6 l2">
                                <div class="card animate fadeLeft">
                                    <div class="card-content custom-gradient_black white-text">
                                        <p class="card-stats-title"><i class="material-icons">person_outline</i>
                                            <span data-i18n="Agentes activos" id="labelAgentesActivos"> Agentes
                                                activos</span>
                                        </p>
                                        <h4 class="card-stats-number white-text" id="agentesActivos">0</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l2">
                                <div class="card animate fadeLeft">
                                    <div class="card-content gradient-45deg-blue-grey-blue-grey lighten-1 white-text">
                                        <p class="card-stats-title"><i class="material-icons">pause</i>
                                            <span data-i18n="Agentes pausa" id="labelAgentesPausa">Agentes pausa</span>
                                        </p>
                                        <h4 class="card-stats-number white-text" id="agentesPausa">0</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l2">
                                <div class="card animate fadeRight">
                                    <div class="card-content grey darken-1 lighten-1 white-text">
                                        <p class="card-stats-title"><i class="material-icons">group_add</i>
                                            <span data-i18n="Total agentes">Total agentes</span>
                                        </p>
                                        <h4 class="card-stats-number white-text" id="agentesTotal">0</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l2">
                                <div class="card animate fadeRight">
                                    <div class="card-content custom-gradient_black lighten-1 white-text">
                                        <p class="card-stats-title"><i class="material-icons">person</i>
                                            <span data-i18n="Clientes activos" id="labelClientesActivos">Clientes
                                                activos</span>
                                        </p>
                                        <h4 class="card-stats-number white-text" id="clientesActivos">0</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l2">
                                <div class="card animate fadeLeft">
                                    <div class="card-content gradient-45deg-blue-grey-blue-grey accent-2 white-text">
                                        <p class="card-stats-title"><i class="material-icons">pause</i>
                                            <span data-i18n="Clientes espera" id="labelClientesEspera">Clientes
                                                espera</span>
                                        </p>
                                        <h4 class="card-stats-number white-text" id="clientesEspera">0</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l2">
                                <div class="card animate fadeLeft">
                                    <div class="card-content grey darken-1 lighten-1 white-text">
                                        <p class="card-stats-title"><i class="material-icons">group_add</i>
                                            <span data-i18n="Total clientes">Total clientes</span>
                                        </p>
                                        <h4 class="card-stats-number white-text" id="clientesTotal">0</h4>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!--card stats end-->

                    <!--chart-->
                    <div id="chartjs-pie-chart" class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <div class="row">

                                        <div class="col s12 m6 l6">
                                            <div class="sample-chart-wrapper"><canvas id="pie-chart-agentes"
                                                    height="200"></canvas>
                                            </div>

                                        </div>
                                        <div class="col s12 m6 l6">
                                            <div class="sample-chart-wrapper"><canvas id="pie-chart-clientes"
                                                    height="200"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--chart-->

                    <!--Tabla chats en espera -->
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div id="bordered-table" class="card card card-default scrollspy">
                                <div class="card-content">
                                    <h4 class="card-title"><strong>Chats en espera</strong></h4>
                                    <div class="row">
                                        <div class="col s12">
                                            <table class="bordered striped">
                                                <thead style="color: #fff">
                                                    <tr class="custom-gradient_black">
                                                        <th data-i18n="Cliente">Cliente</th>
                                                        <th data-i18n="Fecha mensaje inicial">Fecha mensaje inicial</th>
                                                        <th data-i18n="Tiempo espera">tiempo espera</th>
                                                        <th data-i18n="Transferir">Transferir</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="bodyChatsEsperaN1">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Tabla chats en espera -->

                    <!--Tabla chats activos -->
                    <div class="row" id="table-container">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <h4 class="card-title"><strong>Chats activos</strong></h4>
                                    <div class="row">
                                        <div class="col s12">
                                            <table id="Chats_Activos" class="display nowrap" style="width: 100%;">
                                                <thead style="color: #fff">
                                                    <tr class="custom-gradient_black">
                                                        <th>Cliente</th>
                                                        <th>Agente</th>
                                                        <th>Fecha mensaje inicial</th>
                                                        <th>Ultimo mensaje recibido</th>
                                                        <th>Ultimo mensaje enviado</th>
                                                        <th>ASA Cola</th>
                                                        <th>ASA Agente</th>
                                                        <th>Tiempo</th>
                                                        <th >Accion</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Tabla chats activos -->

                    <!--Tabla agentes activos -->

                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div id="bordered-table" class="card card card-default scrollspy">
                                <div class="card-content">
                                    <h4 class="card-title"><strong>Agentes conectados</strong></h4>
                                    <div class="row">
                                        <div class="col s12">
                                        </div>
                                        <div class="col s12">
                                            <table class="bordered striped">
                                                <thead style="color: #fff">
                                                    <tr class="custom-gradient_black">
                                                        <th data-i18n="Agente">Agente</th>
                                                        <th data-i18n="Nombre">Nombre</th>
                                                        <th data-i18n="Estado">Estado</th>
                                                        <th data-i18n="Tiempo">Tiempo</th>
                                                        <th data-i18n="Chats">Chats</th>
                                                        <th class="center" data-i18n="Accion">Accion</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="bodyAgentesConectados">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--Tabla agentes activos -->

                    {{!-- modal verchat --}}
                    <div id="modalVerChat" class="modal modal-fixed-footer">
                        <div class="modal-content">

                            <div class="row">
                                <div class="col s12">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="row">
                                                <div class="col s12" id="contenedorChat">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="divFooterModalVerChat" class="modal-footer">
                            <input type="text" placeholder="" id="inputEnviarMensajeAgente"
                                class="col s7  ml-2 message mb-0">
                            <a class="col s2 ml-2 btn waves-effect waves-light send center"
                                id="enviarMensajeAsesor"><span data-i18n="Enviar">Enviar</span></a>
                            <a class="col s2 ml-2 modal-action modal-close waves-effect waves-light btn border-round red center"
                                id="cerrarModalVerChat"><span data-i18n="Cerrar">Cerrar</span></a>
                        </div>
                    </div>
                    {{!-- modal verchat --}}

                    {{!-- modal transferir --}}
                    <div id="modalTransferir" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h4 data-i18n="Solicitud de transferencia">Solicitud de transferencia</h4>
                            <div class="row">
                                <div class="input-field col s12">

                                    <input id="MotivoTransferencia" type="tel" class="validate">
                                    <label for="MotivoTransferencia" data-i18n="Motivo transferencia">Motivo
                                        transferencia</label>
                                </div>

                                <div class="input-field col s12">

                                    <select class="select" id="selectModalAvalibleUsers">

                                    </select>

                                    <label for="selectModalAvalibleUsers" data-i18n="Usuarios disponibles">Usuarios
                                        disponibles</label>
                                </div>

                                <div class="input-field col s12">

                                    <input id="ObservacionTransferencia" type="tel" class="validate">
                                    <label for="ObservacionTransferencia"
                                        data-i18n="Observaciones">Observaciones</label>
                                </div>

                                <div id="divBtnEnviarTransfer">
                                    <div class="col s12"><a class="waves-effect waves-light btn-small right "
                                            id="btnEnviarTransfer"><span data-i18n="Enviar">Enviar</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="modal-action modal-close waves-effect waves-light btn border-round red"><span
                                    data-i18n="Cerrar">Cerrar</span></a>
                        </div>
                    </div>
                    {{!-- /modal transferir --}}

                </div>
            </div>
        </div>
    </div>
</div>
<script src='/js/dashboard.js'></script>
{{!--
<script src="/js/scripts/charts-chartjs.js"></script> --}}