<div id="main">
    <div class="row">


        <div class="col s12">
            <div class="container">
                <div class="section">

                    <!-- card stats start -->
                    <div id="card-stats" class="pt-0">
                        

                        <div class="row">
                            <div class="col s12 m6 l3">
                                <div class="card animate fadeLeft">
                                    <div class="card-content gradient-45deg-cyan-light-green white-text">
                                        <p class="card-stats-title"><i class="material-icons">person_outline</i>
                                            <span data-i18n="Interacciones finalizadas" id="labelInteraccionesFinalizadas"> Interacciones
                                                finalizadas</span>
                                        </p>
                                        <h4 class="card-stats-number white-text" id="interaccionesFinalizadas">0</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l3">
                                <div class="card animate fadeLeft">
                                    <div class="card-content gradient-45deg-blue-grey-blue-grey lighten-1 white-text">
                                        <p class="card-stats-title"><i class="material-icons">android</i>
                                            <span data-i18n="Interacciones activas" id="labelInteraccionesActivas">Interacciones BOT Activas</span>
                                        </p>
                                        <h4 class="card-stats-number white-text" id="interaccionesActivas">0</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l3">
                                <div class="card animate fadeRight">
                                    <div class="card-content custom-gradient lighten-1 white-text">
                                        <p class="card-stats-title"><i class="material-icons">group_add</i>
                                            <span data-i18n="Transferencia asesor">Transferencia asesor</span>
                                        </p>
                                        <h4 class="card-stats-number white-text" id="interaccionesAgente">0</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l3">
                                <div class="card animate fadeRight">
                                    <div class="card-content gradient-45deg-cyan-light-green lighten-1 white-text">
                                        <p class="card-stats-title"><i class="material-icons">timer</i>
                                            <span data-i18n="Tiempo promedio" id="labelTiempoPromedio">Tiempo promedio</span>
                                        </p>
                                        <h4 class="card-stats-number white-text" id="tarajetaTiempoPromedio">00:00:00</h4>
                                    </div>
                                </div>
                            </div>
     
                        </div>

                        
                    </div>
                    <!--card stats end-->

                    <!--chart-->
                    <div id="contenedorGraficosBot">

                    </div>
                    <!--chart-->

                </div>
            </div>
        </div>
    </div>
</div>
<script src='/js/dashboardBot.js'></script>