<div id="main">
  <div class="row">
    <div class="col s12">
      <div class="container">
        <div class="section section-data-tables">

          <div class="card">
            <div class="card-content">
              <div class="card-title">
                <h4 class="card-title" data-i18n="Reporte interacciones">Reporte interacciones</h4>
                <div class="row">
                  <div class="col s12">
                    <div class="input-field col s12 m6 l4">
                            <select class="select" name="select_filtro" id="select_filtro" required>
                              <option value="0" selected>Seleccionar opción</option>
                              <option value="F">RANGO DE FECHAS</option>
                              <option value="A">AGENTE</option>
                              <option value="I">ID DE CASO</option>
                              <option value="T">NÚMERO DE TELEFONO</option>
                              
                            </select>
                            <label for="select_filtro"><span data-i18n="Filtrar interacciones">Filtrar interacciones</span><span class="red-text"> *</span></label>
                          </div>
                          <div style="display: none;" id="fechas_div">
                              <div class="input-field col s12 m2 l2" >
                      <input type="text" name="fechaInicial" id="fechaInicial" class="datepicker">
                      <label for="fechaInicial" data-i18n="Fecha inicial">Fecha inicial</label>
                    </div>
                    <div class="input-field col s12 m2 l2">
                      <input type="text" name="fechaFinal" id="fechaFinal" class="datepicker">
                      <label for="fechaFinal" data-i18n="Fecha final">Fecha final</label>
                    </div>
                          </div>
                    
                    
                        <div class="input-field col s12 m3 l3" style="display: none;" id="listaAgentes_div"  >
                      <select class="select2 browser-default"  id="listaAgentes">
                        <option value="0">Seleccionar agente</option>
                        {{#each datasqlListaAgentes}}
                        <option value="{{this.PKUSU_NCODIGO}}">{{this.USU_CUSUARIO}}</option>
                        {{/each}}
                      </select>
                    </div>
                    

                    
                    <div class="input-field col s12 m2 l2" style="display: none;" id="ID_CASO_div" >
                      <input type="text" name="ID_CASO" id="ID_CASO" >
                      <label for="ID_CASO" data-i18n="Id de caso">Id de caso</label>
                    </div>
                    <div class="input-field col s12 m2 l2" style="display: none;" id="num_tel_div">
                      <input type="text" name="num_tel" id="num_tel" >
                      <label for="num_tel" data-i18n="Número de teléfono">Número de teléfono</label>
                    </div>

                    {{!-- <div class="input-field col s12 m3 l3">
                     <select class="select2 browser-default" name="nivel" id="nivel">
                        <option value="ALL">ALL</option>
                        <option value="FB">FACEBOOK</option>
                        <option value="CR">CREDITEA</option>
                        <option value="IB">INBOUND</option>
                      </select>
                    </div> --}}

                    <div class="input-field col s12 m1 l1">
                      <a class="waves-effect waves-light btn color-oscuro" id="Buscar"><i
                          class='bx bx-search-alt'></i></a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>


          <!-- Datatable Lista usuarios -->
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content" id="contenidogestiones" style="display: none;" >
                  <div class="row">
                    <div class="col s12">
                      <table id="page-length-option" class="display">
                        <thead>
                          
                          <tr>
                            <th data-i18n="ID">ID</th>
                            <th data-i18n="Agente">Agente</th>
                            <th data-i18n="Cliente">Cliente</th>
                            {{!-- <th data-i18n="Nivel">Nivel</th> --}}
                            <th data-i18n="Tipificacion">Tipificacion</th>
                            <th data-i18n="Subtipificacion">Subtipificacion</th>
                            {{!-- <th data-i18n="Arbol">Arbol</th>
                            <th data-i18n="Encuesta">Encuesta</th>
                            <th data-i18n="Detalle">Detalle</th> --}}
                            <th data-i18n="Fecha inicial">Fecha inicio</th>
                            {{!-- <th data-i18n="Fecha paso asesor">Fecha paso asesor</th> --}}
                            <th data-i18n="Fecha asignacion">Fecha asignacion</th>
                            <th data-i18n="Fecha final">Fecha fin</th>
                            <th data-i18n="Duracion">Duracion</th>
                          </tr>
                        </thead>

                        <tbody id="bodyListaInteracciones">

                        </tbody>                      
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- FIN Datatable Lista usuarios -->

          <!-- Modal Structure -->
          <div id="modalVerChat" class="modal modal-fixed-footer">
            <div class="modal-content">
    
              <div class="row">
                <div class="col s12">
                  <div class="card">
                    <div class="card-content">
                      <div class="row">
                        <div class="col s12" id="contenedorChat">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <a href="#" class="waves-effect waves-light btn border-round color-oscuro ml-4 left" id="descargarChat" data-i18n="Descargar">Descargar</a>
              <a href="#" class="modal-action modal-close waevs-effect waves-green btn-flat ">Close</a>
            </div>
          </div>
          <!-- Modal Structure -->

        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/reporteInteracciones.js"></script>