<span data-i18n="Chat transferido con exito" hidden></span>
<span data-i18n="Aceptar" hidden></span>
<span data-i18n="¿Seguro que quiere cerrar el chat?" hidden></span>
<span data-i18n="Chat cerrado con exito" hidden></span>
<span data-i18n="Cancelar" hidden></span>
<span data-i18n="¿Desea cerrar el chat actual y abrir uno nuevo?" hidden></span>
<span data-i18n="Este Chat ya está siendo atendido por usted" hidden></span>
<span data-i18n="Sí, continuar" hidden></span>
<span data-i18n="Mensaje enviado, por favor espere a que el cliente responda" hidden></span>
<span data-i18n="Cuidado!" hidden></span>
<span data-i18n="Este número ya está siendo atendido por otro agente" hidden></span>
<span data-i18n="Chat cerrado con éxito" hidden></span>
<span data-i18n="Falta el nombre" hidden></span>
<span data-i18n="Falta Correo" hidden></span>
<span data-i18n="Falta Tipificación" hidden></span>
<span data-i18n="Falta Subtipificación" hidden></span>
<span data-i18n="Seleccione extención del correo" hidden></span>
<span data-i18n="Escriba la extensión del correo" hidden></span>
<span data-i18n="Falta observación" hidden></span>
<span data-i18n="Tipificación realizada con éxito" hidden></span>
<span data-i18n="Se generó un error, intente de nuevo" hidden></span>
<span data-i18n="Se generó un error al insertar el cliente" hidden></span>
<span data-i18n="Digite motivo de transferencia" hidden></span>
<span data-i18n="Seleccione usuario a transferir" hidden></span>
<span data-i18n="Chat transferido con éxito" hidden></span>
<span data-i18n="Por favor digite el numero celular" hidden></span>
<span data-i18n="Por favor seleccione el tipo de reporte para continuar" hidden></span>
<span data-i18n="Por favor digite el id del caso" hidden></span>
<span data-i18n="Por favor seleccione un agente" hidden></span>
<span data-i18n="Por favor complete el campo de fecha inicial" hidden></span>
<span data-i18n="Por favor complete el campo de fecha final" hidden></span>
<span data-i18n="La fecha final debe ser posterior a la fecha inicial" hidden></span>
<span data-i18n="No se encontraron registros relacionados a la búsqueda" hidden></span>
<span data-i18n="Por favor seleccione una plantilla" hidden></span>
<span data-i18n="Por favor seleccione el indicativo" hidden></span>
<span data-i18n="Chats actualizados por supervisor" hidden></span>
<span data-i18n="Se le ha transferido el chat" hidden></span>
<span data-i18n="Escribe un mensaje para el agente" hidden></span>
<span data-i18n="No se puede sobrepasar los caracteres permitidos" hidden></span>
<span data-i18n="Árbol BOT" hidden></span>
<span data-i18n="Nombre Menú" hidden></span>
<span data-i18n="Opción:" hidden></span>
<span data-i18n="Actualizar" hidden></span>
<span data-i18n="Actualización realizada con éxito" hidden></span>
<span data-i18n="Por favor diligencie el campo" hidden></span>
<span data-i18n="caractere/s, te quedan" hidden></span>
<span data-i18n="¿Seguro que quiere cerrar la sesion?" hidden></span>
<span data-i18n="¿Seguro que quiere transferir el chat?" hidden></span>
<span data-i18n="No puede cerrar la sesion, el usuario tiene chats asignados" hidden></span>
<span data-i18n="No se encontraron resultados" hidden></span>
<span data-i18n="No acepto terminos y condiciones" hidden></span>
<span data-i18n="No completo el arbol" hidden></span>
<span data-i18n="Sesion cerrada con exito" hidden></span>
