<!-- BEGIN: Footer-->
  <footer class="page-footer footer footer-static footer-light navbar-border navbar-shadow gradient-45deg-blue-grey-blue-grey">    
    <div class="footer-copyright">    
      <div class="container"> 
        <span class="right hide-on-small-only">Developed by <a class="black-text">RPA GROUPCOS</a></span>
        <span class="left hide-on-small-only"><img style="width: 100px;" src="/images/logo/logo_claro.png" alt="footer" /></span>
        <span><center>&copy; 2024 <a class="black-text" target="_blank">GROUPCOS</a> All rights reserved.</center></span>
      </div>
    </div>
  </footer>
  <!-- END: Footer-->