{{#if messageSuccess}}
  <div id="messageSuccess" data-message="{{messageSuccess}}"></div>
{{/if}}
{{#if messageInfo}}
  <div id="messageInfo" data-message="{{messageInfo}}"></div>
{{/if}}
{{#if messageWarning}}
  <div id="messageWarning" data-message="{{messageWarning}}"></div>
{{/if}}
{{#if messageError}}
  <div id="messageError" data-message="{{messageError}}"></div>
{{/if}}